name: golangci-lint

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  golangci-lint:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            cgo: '1'
            go: 1.25
          - os: macos-latest
            cgo: '1'
            go: 1.25
          - os: windows-latest
            cgo: '1'
            go: 1.25
    name: golangci-lint on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout PR Code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Setup Linux OS dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y xorg-dev libgl1-mesa-dev libglu1-mesa-dev

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: false

      - name: Verify Go Version
        run: go version

      - name: Setup Go environment
        run: |
          go env -w GOFLAGS="-buildvcs=false"

      - name: Update dependencies
        run: go mod tidy

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          args: --verbose
          skip-cache: true
        env:
          CGO_ENABLED: ${{ matrix.cgo }}